%header
  .container
    %h1 お天気ナビ
    %h2 現在地のお天気は？
  / /.container
%main
  .container
    %section
      %h3#place
      #now
        #weather
      %table#forecast
%footer
  .container
    %p お天気

